@import "variables";

.card-img-top {
  height: 100px;
  padding: 0 1rem;
}

#profile-img {
  background-color: $gc-gray;
  border-radius:50%;
  filter: grayscale(100%);
  height: 350px;
  margin: auto;

  @media all and (max-width: 400px) {
    height: 200px;
  }
}
